// Variables file

$highlight:         #71C39E;  // from the govCMS logo
$highlightBright:   #6ad5ac;  // accessible as bg for $secondaryDark
$highlightDark:     #54A283;  // accessible on white bg - IF larger than 24px
$highlightDarker:   #407a63;  // accessible on white bg


$aqua:              #51bfbb;  // Not just a Eurodance group - a mix btwn $highlight and $secondary, but in a brighter hue.
                              // if $secondaryDark coloured headings change back to #51bfbb
                              // if #fff           coloured headings change back to #3db0ac


$secondary:         #2C5D7E;  // light version of $secondaryDark
$secondaryDark:     #37424A;  // from the govCMS logo


$greyLight:         #F5F5F5;
$greyDark:          #333;
$borderGrey:        #D2D2D4;


$textGrey:          #555;
$textGreyLight:     #777;     // lightest accessible grey on white bg


$radius:            4px;

$manditoryColour:   #c0392b;
